
.blogDetails_image{
  height: 680px;
  min-height: 450px;
  overflow: hidden;
  border-radius: var(--border-radius-xl);
}

.blogDetails_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.blogDetails_container{
    padding: 50px 0;
}